WS_Axis1/wsdl/HelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/axis1/services/HelloWorldWSDD"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/axis1/services/HelloWorldWSDD"
	xmlns:intf="http://localhost:8080/axis1/services/HelloWorldWSDD"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 PDT) -->

	<wsdl:message name="helloResponse">
		<wsdl:part name="helloReturn" type="soapenc:string" />
	</wsdl:message>

	<wsdl:message name="helloRequest">
		<wsdl:part name="name" type="soapenc:string" />
	</wsdl:message>

	<wsdl:message name="addResponse">
		<wsdl:part name="addReturn" type="soapenc:float" />
	</wsdl:message>

	<wsdl:message name="addRequest">
		<wsdl:part name="a" type="xsd:float" />
		<wsdl:part name="b" type="xsd:float" />
	</wsdl:message>

	<wsdl:portType name="HelloWorldWSDD">
		<wsdl:operation name="add" parameterOrder="a b">
			<wsdl:input message="impl:addRequest" name="addRequest" />
			<wsdl:output message="impl:addResponse" name="addResponse" />
		</wsdl:operation>
		<wsdl:operation name="hello" parameterOrder="name">
			<wsdl:input message="impl:helloRequest" name="helloRequest" />
			<wsdl:output message="impl:helloResponse" name="helloResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HelloWorldWSDDSoapBinding" type="impl:HelloWorldWSDD">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
			
		<wsdl:operation name="add">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="addRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://wsdd.axis.webservice" use="encoded" />
			</wsdl:input>
			<wsdl:output name="addResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://localhost:8080/axis1/services/HelloWorldWSDD"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="hello">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="helloRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://wsdd.axis.webservice" use="encoded" />
			</wsdl:input>
			<wsdl:output name="helloResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://localhost:8080/axis1/services/HelloWorldWSDD"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="HelloWorldWSDDService">
		<wsdl:port binding="impl:HelloWorldWSDDSoapBinding" name="HelloWorldWSDD">
			<wsdlsoap:address
				location="http://localhost:8080/axis1/services/HelloWorldWSDD" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>